.aboutBanner__container {
    position: relative;
}

.aboutBanner__intro {
    /* text-align: center; */
    /* margin-top: 15%; */
    padding-left: 20%;
    font-size: 5rem;
}

.aboutBanner__abilities {
    font-size: 10rem;
    height: max-content;
    color: #845EC2;
    height: 100%;
    position: relative;
}

.aboutBanner__objective {
    font-size: 2rem;
    margin-top: 4rem;
    /* border: 1px solid red; */
    position: relative;
    /* padding-left: 4rem; */
}

.aboutBanner__objective ul {
    margin-left: 6rem;
}

.highlighted__text {
    color: #845EC2;
    font-size: 2rem;
    font-weight: 600;
}

p {
    margin-top: 5rem;
    background-color: #191825;
    position: relative;
}

p:first-child {
    margin-top: 0rem;
}

p:last-child {
    padding-bottom: 3rem;
}

.scroll__down {
    position: absolute;
    bottom: 3%;
    left: 50%;
    cursor: pointer;
    /* background-color: #845EC2; */
    /* z-index: -1; */
    border-radius: 50px;
    padding: 5px;
}

.scrollDown__icon {
    /* z-index: 1; */
    color: white;

    font-size: 3rem;
}